/*初始化样式*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
p,
pre,
i,
b,
a,
ul,
li,
ol,
dl,
dt,
dd,
hr,
img,
input{
    margin: 0;
    padding: 0;
}
/*去除ul ol默认样式*/
ul>li{
    list-style: none;
}
ol>li{
    /*list-style: none;*/
}
/*去除超链接默认下划线*/
a{
    text-decoration: none;
    color: #000000; /*超链接默认蓝色字体改为黑色*/
}
input{
    border: none; /*去除边框*/
    outline: none; /*去除外轮廓线*/
}
img,
input{
    vertical-align: middle; /*设置内容元素垂直居中*/
}
/* 图片自适应样式 */
.auto-img{
    display: block;
    width: 100%;
    height: auto;
}
/*清除浮动*/
.clearfix::after{
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}
.clearfix{
    *zoom: 1;
}
/*公共样式*/
.fl{
    float: left;
}
.fr {
    float: right;
}
.pr{
    position: relative;
}